.msg {
    width: 95%;
    padding: 10px 0px;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    text-transform: capitalize;
}

.msg.error {
    background-color: red;
    color: white;
}

.msg.success {
    background-color: green;
    color: white;
}