.passwordInput{
    position: relative;
}

.passwordInput .icon{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

.passwordInput .passwordInputField{
    width: 100%;
}

.forgetPassword {
    display: block;
    float: right;
}