html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: radial-gradient(
      100% 197.75% at 100% 98.93%,
      #3b20d9 0%,
      #7415e4 46.54%,
      #64408e 99.94%
    )
    no-repeat;
  min-height: 100vh;
  min-width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  background-attachment: fixed;
}

a {
  color: #ffffff;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.MuiInputLabel-outlined {
  color: #000 !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #000 !important;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
}

.input {
  width: 95%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin: 5px 0 !important;
}

.button {
  width: 95%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin: 5px 0 !important;
}

button.MuiButton-root {
  background-color: #2fd524 !important;
  color: #fff !important;
  border-radius: 5px;
  border: 1px solid #000;
}

button.MuiButton-root.simple {
  background-color: #fff !important;
  color: #000 !important;
  border-radius: 5px;
  border: none;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.error {
  width: 100%;
  height: 100%;
  position: relative;
}

.error .error-img {
  max-height: 200px;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

.error .error-img img {
  position: relative !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  object-fit: contain;
}

.error .error-txt {
  text-align: center;
  width: 100%;
}
